<p><span id="message"></span></p>
<%= form_for @contact, url:company_contacts_path(html_id: @html_id), remote: true, method: :post do |f| %>
  <p>Name :</p>
  <p><%= f.text_field :name, :size => "25" %></p>
  <p>Phone :</p>
  <p><%= f.text_field :phone, :size => "25" %></p>
  <p>Fax :</p>
  <p><%= f.text_field :fax, :size => "25" %></p>
  <p>Email :</p>
  <p><%= f.text_field :email, :size => "25" %></p>
  <p><%= submit_tag "Create" %></p>
<% end %>
<p></p>
