$("#account_manager_id").append('<option value='+'<%= @sale.id %>'+'>'+'<%= @sale.name %>'+'</option>');
$("#company_sale_id").append('<option value='+'<%= @sale.id %>'+'>'+'<%= @sale.name %>'+'</option>');
$("#message").text("<%= @message %>")
